In [1]:
# 단축키
# shift + enter : 실행 후 다음 cell로 이동
# ctrl + enter : 실행 후 현재 cell에 머무름

1+1

2

In [3]:
2+3

5

In [4]:
# 변수
name = "홍길동"  # '홍길동'이라는 값을 변수에 대입해라
               # 이름이 name인 공간이 메모리에 없으면 새로 만들고 대입. 이미 있으면 있는 공간에 대입한다.

In [5]:
print(name) # print(값) -> ()안의 값을 출력하는 함수

홍길동

In [6]:
age = 25
print(age) # age의 값 출력

25

In [7]:
age = 50   # age의 값을 50으로 대체(재할당)
print(age)

50

In [8]:
print(name)

홍길동

In [15]:
name = "최윤지"

In [16]:
print(name)

최윤지

In [17]:
age = age + 20  # age 변수가 가진 값과 20을 더하는 연산
                #   -> 1에서 처리한 값을 age 변수에 대입

In [18]:
print(age)

70

In [19]:
age2 = age-30

In [20]:
print(age2)

40

In [21]:
print(age)

70

In [23]:
Age = 50
print(age, Age) # 두개의 값을 한번에 출력

70 50

In [24]:
주소 = '서울시 서초구 서초동'
print(주소)

서울시 서초구 서초동

In [25]:
우리집_주소 = '서울시 강남구' # 특수문자 '_'를 단어 사이의 구분자로 사용하기도 한다.
print(우리집_주소)

서울시 강남구

In [26]:
# myemailaddress 보다
my_email_address = 'cozisdev@gmail.com' # 스네이크 표기법
myEmailAddress = 'cozcozcoz@gmail.com' # 카멜 표기법

In [27]:
#5age = 30   # Error : 숫자를 첫번째 글자로 사용할 수 없다.

In [28]:
#여러개의 변수에 같은 값을 대입
a = 10
b = 10
c = 10

In [29]:
a = b = c = 20

In [31]:
print(a, b, c)

20 20 20

In [32]:
age1 = age2 = age3 = age4 = age5 = 0
print(age1, age2, age3, age4, age5)

0 0 0 0 0

In [33]:
# 여러개의 값을 여러개의 변수에 한 번에 대입

# 방법 1
a = 10
b = 10
c = 10

# 방법 2 : 튜플 대입(Tuple assigment)
a, b, c = 10, 10, 10   # 변수의 개수와 값의 개수가 같아야 한다.

print(a, b, c)

10 10 10

In [34]:
# 변수를 메모리에서 삭제
del age1

In [35]:
print(age1)

NameError: name 'age1' is not defined

In [36]:
# 동적타입 언어 : 하나의 변수에 다양한 타입의 값들을 대입할 수 있다

# 정수 대입
age = 30
print(age)

# 문자열 대입
age = '스무살'
print(age)

# 실수 대입
age = 25.7
print(age)

30
스무살
25.7

In [38]:
# 정적 타입 언어 : 변수에 타입을 지정하여 해당 타입의 값들만 저장 가능

#int age = 20
#age = 40
#age = 50

# age = '스무살' -> Error

In [40]:
#값, 변수의 타입을 확인하는 함수 - type(값)
type(age)

float

In [41]:
tall = 178
type(tall), type(age), type(name)

(int, float, str)

In [1]:
# 5/10 데이터 타입

# 숫자형
f1 = 0.5
f2 = 356.7
print(f1, f2)

0.5 356.7

In [2]:
f3 = .5  # 정수부가 0인경우 0을 생략할 수 있다.
print(f3)

0.5

In [3]:
# 지수 표기법
f4 = 3e10  # 3x10**10
print(f4)

30000000000.0

In [4]:
f5 = 3246e5
print(f5, type(f5))

324600000.0 <class 'float'>

In [5]:
f6 = 3e-3  # 3x10**-3
print(f6)

0.003

In [6]:
type(10), type(3.2)  # int = 정수타입 / float = 실수타입

(int, float)

In [10]:
print(2**5) # 제곱연산자
print(10/3) # 나누기
print(10//3)  # 몫
print(10%3)   # 나머지

32
3.3333333333333335
3
1

In [13]:
num = 1000

# Q. num이 5의 배수인가요?
print(num%5 == 0)  # 결과가 0이면 5의 배수

True

In [14]:
# 논리형

b1 = True
b2 = False
print(b1, b2)

True False

In [16]:
# bool(값) => 다른 타입의 값을 논리형으로 변환
# 빈 문자열, 0, None => False


print(bool(''), bool('abc'), bool(' '))
print(bool(0), bool(0.0), bool(50), bool(-50))
print(bool(None))

False True True
False False True True
False

In [18]:
# 비교 연산자

print(5==10)
print(10==10)
print(5!=10)
print(10!=10)
print("--------")
print('abc'=='abc')

False
True
True
False
--------
True

In [19]:
print(10>5)
print(10<5)
print(10>=10)

True
False
True

In [47]:
print(ord('a'), ord('b'))  # 문자를 숫자로 변환
print('a'>'b')

97 98
False

In [42]:
# 특수문자 < 숫자 < 영문자 < 한글
print(ord('#'), ord('1'), ord('a'), ord('가'))

35 49 97 44032

In [30]:
# 여러 글자의 경우 각항의 맨 앞에서부터 한글자씩 비교한다.
# 앞에서 어느것이 더 큰지 판결 났을 경우 연산을 멈춘다
# ex. abcd까지 동일하니 f와 e로 판결을 내고 뒤의 g는 연산하지 않음

print('abcdfg' > 'abcdefg')

True

In [31]:
num = 30

# Q.num이 5~20에 포함되는 숫자인가?

#result = num > 5 and num < 20
result = (num > 5) & (num < 20) # 논리연산자를 사용할 땐 꼭 괄호로 묶어줘야 함

print(result)

False

In [48]:
num = 10

# Q. num이 5~20에 포함되지 않는 숫자인가?

# result = num < 5 or num > 20
result = (num < 5) | (num > 20) 

print(result)
print(not result)

False
True

In [35]:
True ^ False

True

In [36]:
True ^ True

False

In [37]:
False ^ False

False

In [45]:
# 조건 연산자

num = -10

var = '양수' if num >= 0 else '음수'

print(var)

음수

In [51]:
# escape 문자

print('가나다 \b라')       #백스페이스
print(' ')
print('abc\ndef\nghi')   #줄넘김
print(' ')
print('''가나다
라마바
사아자''')
print(' ')
print('abc\tdef')        #탭

가나다 라

abc
def
ghi

가나다
라마바
사아자

abc	def

In [52]:
# '\' 자체를 나타내고 싶을 땐 어떻게 작성?
print('a\\a\\a')

a\a\a

In [53]:
# \가 escape 문자로 쓰이는 기능을 무효화 => r-string
print(r'C:\Windows\tsytem32\nmd.exe')

C:\Windows\tsytem32\nmd.exe

In [55]:
# print('I'm a boy')  # Error
print('I\'m a boy')
print("I'm a boy")

I'm a boy
I'm a boy

In [56]:
# 큰땀 작땀 둘 다 쓰고싶을 땐 무조건 둘중 하나를 \처리 해줘야함
print("abc'def\"ghi")

abc'def"ghi

In [57]:
#문자열 연산자

print('a'+'b')  # str + str 가능

name = '최윤지'
print("이름 : "+name)

ab
이름 : 최윤지

In [59]:
age = 20
tall = 159
print("나이: " +str(age))  #str + 숫자 하려면 형변환 해줘야함
print('키: '+str(tall))

나이: 20
키: 159

In [63]:
#특정 문자 반복 가능
print('-'*3)
print('oz\t'*3)

---
oz	oz	oz

In [67]:
print(name, len(name))
print(len('qwerty'))

최윤지 3
6

In [70]:
addr = '설 섳구 섳동'

# Q. addr 문자열 안에 "설" 있음?
r = "설" in addr
r2 = "종" in addr
print(r, r2)

True False

In [71]:
# Q. addr 문자열 안에 "설" 없음?
r = "설" not in addr
r2 = "종로" not in addr
print(r, r2)

False True

In [72]:
2 + 2
3 + 3
1 + 1

2

In [73]:
print(2+2)
print(3+3)
print(1+1)

4
6
2

In [76]:
"a"

'a'

In [77]:
print("a")

a

In [78]:
print("a", 20, "30", 3.2323, sep='|')

a|20|30|3.2323

In [79]:
#print()는 출력할 값 뒤에 엔터를 자동적으로 붙여준다.
print('abc')
print('def')

abc
def

In [81]:
print('abc', end='-')
print('def')

abc-def

In [82]:
# 인덱싱

In [86]:
s = "안녕하세요. 반갑습니다."

# 양수 idx
print("2번 idx : ", s[2])
print("7번 idx : ", s[7])

# 음수 idx
print("\n뒤에서 2번 idx : ", s[-2])
print("뒤에서 9번 idx : ", s[-9])

2번 idx :  하
7번 idx :  반

뒤에서 2번 idx :  다
뒤에서 9번 idx :  요

In [87]:
# 모든 글자들은 idx가 두개다.(앞에서부터, 뒤에서부터)
# 양 idx는 0부터, 음 idx는 -1부터 시작

print(s[7], s[-6])

반 반

In [89]:
# index를 이용해 문자열 내 특정 문자를 변경할 수 없다.
# s[3] = '가'    # Error

# 그러나 문자열 자체를 통째로 변경하는 것은 가능

s = "Hello, World"
print(s)

Hello, World

In [90]:
s = "abcdefghijklmn"
print(len(s)) #14글자 : idx 0~13

14

In [91]:
s[2:10:2]  #범위: 2~9 간격: +2

'cegi'

In [93]:
s[2:10:1]
# s[2:10]   -> 간격이 1이면 생략 가능

'cdefghij'

In [95]:
# 시작 생략 - 0번 idx부터 조회
s[:10]

'abcdefghij'

In [96]:
# 종료 생략 - 마지막 idx까지 조회
s[10:]

'klmn'

In [97]:
s[::3]

'adgjm'

In [98]:
s[5:1:-1]  # 5~2

'fedc'

In [99]:
s[::-1]  # reverse

'nmlkjihgfedcba'

In [100]:
s[-2:3:-1]

'mlkjihgfe'

In [106]:
name1, age1, address1 = '최윤지', 25, '서울'
name2, age2, address2 = '이순신', 10, '인천'
name3, age3, address3 = '강감찬', 10, '부산'

In [107]:
info1 = "이름: "+name1+"\n나이: "+str(age1)+"세\n주소: "+address1
print(info1)

이름: 최윤지
나이: 25세
주소: 서울

In [108]:
info2 = "이름: "+name2+"\n나이: "+str(age2)+"세\n주소: "+address2
print(info2)

이름: 이순신
나이: 10세
주소: 인천

In [114]:
# {} => 추후 값이 들어갈 자리
info_layout = "이름: {}\n나이: {}세\n주소: {}"

info1 = info_layout.format(name1, age1, address1)

In [115]:
print(info1)

이름: 최윤지
나이: 25세
주소: 서울

In [116]:
print("이름: {}\n나이: {}세\n주소: {}".format(name1, age2, address3))

이름: 최윤지
나이: 10세
주소: 부산

In [118]:
# idx 번호를 기입함으로써 원하는 인자를 원하는 곳에 넣을 수 있다. (중복 가능)
print("이름: {0}\n나이: {1}세\n주소: {2}\n이름: {0}".format(name1, age2, address3))

이름: 최윤지
나이: 10세
주소: 부산
이름: 최윤지

In [119]:
#{name} : 괄호의 이름을 지정. 값 전달 시 괄호이름=값의 형식으로 값 전달 가능

print("이름: {name}\n나이: {age}세\n주소: {addr}".format(name=name1, age=age2, addr=address3))

이름: 최윤지
나이: 10세
주소: 부산

In [122]:
# 형식문자를 이용한 formatting

name, age, weight = '최윤지', 23, 72.7

info = "이름: %s, 나이: %d, 몸무게: %.2f" % (name, age, weight)
print(info)

이름: 최윤지, 나이: 23, 몸무게: 72.70

In [124]:
# f-string
name, age, weight = '최윤지', 46, 12.7

print(f"이름: {name}, 나이: {age}, 몸무게: {weight}")

이름: 최윤지, 나이: 46, 몸무게: 12.7

In [128]:
weight = 12.34567

print(f"이름: {name:<5}, 나이: {age}, 몸무게: {weight}")
print(f"이름: {name:>5}, 나이: {age}, 몸무게: {weight:.2f}")

이름: 최윤지  , 나이: 46, 몸무게: 12.34567
이름:   최윤지, 나이: 46, 몸무게: 12.35

In [130]:
# 문자열 관련 함수/메소드

# 특정한 구분자로 쪼개는 것을 '토큰화' 한다고 함

s = "사과|귤|배|수박|복숭아"   # 사과, 귤 등 각각의 단위를 '토큰'이라고 함
s.split('|')

['사과', '귤', '배', '수박', '복숭아']

In [132]:
s2 = "    abc     "
s2.lstrip()  # 좌측 공백 삭제
s2.rstrip()  # 우측 공백 삭제
#s2.strip()   # 양측 공백 삭제

'    abc'

In [133]:
s3 = "abcabcabc"
s3.replace('ab', '가') #ab를 가로 변경

'가c가c가c'

In [136]:
len(s3)  # s3의 글자수
s3.count('a')  # -> 3
s3.count('bc')

3

In [139]:
s3.index('a')  # a의 idx 번호 출력
s3.index('bc') # 맨 앞글자인 b의 idx 번호 출력

1

In [140]:
s3.find('a')
s3.find('bc')
s3.find('가')  # 존재하지 않는 문자(열)을 찾을 경우 -1 반환

-1

In [141]:
"가 없음" if s3.find('가') == -1 else "가 있음"

'가 없음'

In [143]:
s4 = 'AbCdE'
s4.upper()  # ABCDE
s4.lower()  # abcde

'abcde'

In [146]:
addr = '서울시 서초구'
addr.startswith('서울')  #T
addr.startswith('광주')  #F

False

In [148]:
url = 'www.naver.com'
url.endswith('.com')   #T
url.endswith('.net')   #F

False

In [155]:
# 타입 변환 함수

num1 = input("num1: ") #사용자로부터 값을 입력받을 때 사용. 입력받은 값을 str형으로 변수에 저장

num1 :25

In [156]:
num2 = input("num2: ")

num2: 35

In [161]:
num1+num2   # -> 2535

# 덧셈을 하려면 문자열을 숫자형으로 변환해야 함
print(int(num1) + int(num2))
print(float(num1) + float(num2))

60
60.0

In [163]:
s = input("str: ")

str: abc

In [164]:
int(s) # input값이 숫자의 형태를 띄고있을 때 만 실제 숫자형으로 변환 가능

ValueError: invalid literal for int() with base 10: 'abc'

In [165]:
int(True)   # True  => 1
int(False)  # False => 0

0

In [ ]:
#문자열 Quest

In [172]:
#1. 주민번호 "901211-1027213"의 앞 6자리만 조회해서 출력하시오.
str1 = "901211-1027213"

print(str1[:6])

901211

In [174]:
#2. "안녕하세요" 를 10번 출력하시오.

print("안녕하세요\n"*10)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [175]:
#3. 다음 문자열의 글자수를 출력하시오. -> "akdlclkdkdlelql39du7마구0ㅌ" 
str3 = "akdlclkdkdlelql39du7마구0ㅌ"

print(len(str3))

24

In [186]:
#4. 위 변수의 값을 다음과 같은 형태로 출력하시오.
#"제품명 : TV, 가격 : 300000, 제조사 : LG"
name="TV"
price=300000
maker = "LG"

print(f"제품명 : {name}, 가격 : {price}, 제조사 : {maker}")

제품명 : TV, 가격 : 300000, 제조사 : LG

In [188]:
#5. 위 fruits에 "수박"이 있는지 확인하는 코드를 작성하시오.
fruits = "사과 복숭아 귤 배"

# "있" if '수박' in fruits else "없"
print("수박" in fruits)

False

In [192]:
#6. str_value 문자열안에 a가 몇개 있는지 출력하시오.
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"

print(str_value.count('a'))

9