In [4]:
#정렬 - sorted(리스트) : 원본 리스트를 변경하지 않고 정렬한 새로운 리스트를 반환
l1 = [1, 2, 3]

print(sorted(l1))   # 오름차순
print(sorted(l1, reverse=True))   #내림차순

[1, 2, 3]
[3, 2, 1]

In [6]:
# 정렬 - 리스트.sort() : 원본 리스트 자체를 정렬한다.
l1.sort()
print(l1)

[1, 2, 3]

In [7]:
l1.sort(reverse=True)
l1

[3, 2, 1]

In [8]:
#index로 원소 삭제 : del

# Tuple (튜플)

In [9]:
t1 = (1, 2, 3, 4, 5)  # 소괄호로 묶는다.
t2 = 1, 2, 3, 4, 5    # 괄호 생략 가능

In [10]:
t1

(1, 2, 3, 4, 5)

In [11]:
t2

(1, 2, 3, 4, 5)

In [12]:
t3 = 10, '가', True
t3

(10, '가', True)

In [13]:
t4 = (100)                # 튜플 X
t4, type(t4), type(t3)    # -> 변수에만 넣지 않았다 뿐이지 이것도 튜플임

(100, int, tuple)

In [15]:
t5 = (100,)    # 튜플 O
t6 = 100,      # 튜플 O
print(t5, t6)
print(type(t5), type(t6))

(100,) (100,)
<class 'tuple'> <class 'tuple'>

###

### 튜플 대입

In [17]:
name, age, address = ('홍길동', 30, '서울') # 튜플 대입
print(name, age, address)

# name, age, address = ['홍길동', 30, '서울'] # 리스트 대입

홍길동 30 서울

In [19]:
t7 = 100, 4, 8, 20, 1, 8
t7[0], t7[3], t7[5]

(100, 20, 8)

In [21]:
t7[0] = 40   # 변경 불가능

TypeError: 'tuple' object does not support item assignment

In [22]:
t7[::2]

(100, 8, 1)

In [23]:
t7[::-1]

(8, 1, 20, 8, 4, 100)

In [24]:
t7[-3]

20

### 연산자

In [26]:
print(10 in t7)
print(8 in t7)

False
True

In [27]:
print(10 not in t7)
print(8 not in t7)

True
False

In [28]:
t1 + t2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [29]:
t1*2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

# 딕셔너리

In [ ]:
# 생성

person1 = {"name":"최윤지", "age":20, "address":"서울"}
person2 = {"age":30, "address":"설", "name":"윤지"}

In [35]:
# 조회

print(person1['name'], person2['name'])
print(person1['age'], person2['age'])

최윤지 윤지
20 30

In [37]:
# 변경

person1['name'] = "지윤최"
person1

{'name': '지윤최', 'age': 20, 'address': '서울'}

In [38]:
# 추가

person1['tel'] = '010-1234-5678'
person1

{'name': '지윤최', 'age': 20, 'address': '서울', 'tel': '010-1234-5678'}

In [39]:
person1['email']   # KeyError

KeyError: 'email'

In [41]:
# dictionaey.get('key') : 조회
# 없는 key값으로 조회하면 None(default)을 반환하지만 반환할 값(업슴)을 설정할 수도 있다.
v = person2.get('age', "업슴")
print(v)

30

In [42]:
len(person1), len(person2)

(4, 3)

In [44]:
'최윤지' in person1

False

In [45]:
'name' in person1

True

### 주요 메소드

In [47]:
person1.pop('name')

'지윤최'

In [54]:
person1

{'address': '서울', 'tel': '010-1234-5678'}

In [56]:
del person1['tel']

In [57]:
person1

{'address': '서울'}

In [58]:
person1.items()  # 리스트 형식으로 반환해줌

dict_items([('address', '서울')])

In [59]:
person1.keys()   # key만 반환

dict_keys(['address'])

In [60]:
person1.values()  # value만 반환

dict_values(['서울'])

# Set (집합)

In [65]:
s1 = {1, 1, 1, 2, 2, 2, 3, 3, 3, 'a', 'a', 'a'}
s1

{1, 2, 3, 'a'}

In [66]:
s2 = {1, True}
s3 = {0, False}
print(s2)
print(s3)

{1}
{0}

In [67]:
s1

{1, 2, 3, 'a'}

In [68]:
s1[0]   # set은 원소를 하나씩 조회할 수 없다. => solution 반복문 이용

TypeError: 'set' object is not subscriptable

## 연산자

In [69]:
print(1 in s1)
print(100 in s1)

True
False

In [70]:
print(1 not in s1)
print(100 not in s1)

False
True

In [74]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5}

# 합집합
s3 = s1 | s2
s4 = s1.union(s2)

print(s3)
print(s4)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [75]:
# 교집합
s5 = s1 & s2
s6 = s1.intersection(s2)

print(s5, s6)

{3, 4} {3, 4}

In [77]:
# 차집합
s7 = s1 - s2
s8 = s1.difference(s2)

print(s7, s8)

{1, 2} {1, 2}

## 메소드

In [78]:
# 추가
s3.add(10)
print(s3)
s3.add(10)   # 있는 값을 추가하면 추가가 안 됨(중복 허용 X)
s3

{1, 2, 3, 4, 5, 10}

{1, 2, 3, 4, 5, 10}

In [80]:
s3.update([1, 2, 3, 100, 200, 300, 400])
s3  # 중복값 제거되어 출력됨

{1, 2, 3, 4, 5, 10, 100, 200, 300, 400}

In [82]:
v = s3.pop()
print(v)
s3

1

{2, 3, 4, 5, 10, 100, 200, 300, 400}

In [83]:
s3.remove(5)   # s3의 원소중 5 삭제
s3

{2, 3, 4, 10, 100, 200, 300, 400}

In [84]:
s3.remove('가')   # 없는 값 삭제시 KeyError 발생

KeyError: '가'

In [89]:
var1 = []   # 빈 리스트 생성
print(var1)

var2 = {}  # 빈 딕셔너리
type(var2)

[]

dict

In [92]:
# 값 추가

var2['a'] = 100
var2

{'a': 100}

## 자료구조 변환 함수
- list(자료구조) : 자료구조를 List로 변환
- tuple(자료구조) : 자료구조를 Tuple로 변환
- set(자료구조) : 자료구조를 Set으로 변환
- Dictionary로 변환하는 함수는 없다.
    - 변경해야하는 자료구조가 Dict일 경우엔 key값들만 모아서 변환

In [93]:
t = 1, 2, 10, 5, 10, 2
l = list(t)
l, type(l)

([1, 2, 10, 5, 10, 2], list)

In [94]:
s = set(t)
s, type(s)

({1, 2, 5, 10}, set)

In [96]:
# list -> tuple

t1 = tuple([1, 3, 10, 20, 11])
t1

(1, 3, 10, 20, 11)

In [97]:
d = {'a':10, 'b':20, 'c':30}
d

{'a': 10, 'b': 20, 'c': 30}

In [98]:
# dict -> set

set(d)

{'a', 'b', 'c'}

In [99]:
list(d)

['a', 'b', 'c']

In [100]:
tuple(d)

('a', 'b', 'c')

In [101]:
d1 = dict(name='최윤지', age=20, address='부산')
d1

{'name': '최윤지', 'age': 20, 'address': '부산'}

## Question

In [122]:
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]   # Q.1~7에 사용되는 변수

# 위는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다.
#(1)  7번의 점수를 출력하세요
result = str(jumsu[6])
print("(1)"+result)

#(2)  1번부터 5번까지의 점수를 출력하세요.
result = str(jumsu[:5])
print("(2)"+result)

#(3)  4, 5, 6, 7번의 점수를 출력하세요.
result = str(jumsu[3:7])
print("(3)"+result)

#(4) 짝수번째 점수를 출력하세요.
result = str(jumsu[1::2])
print("(4)"+result)

#(5) 홀수번째 점수를 출력하세요.
result = str(jumsu[::2])
print("(5)"+result)

#(6) 9번의 점수를 20으로 변경하고 전체 출력하세요.
jumsu[8] = 20
result = str(jumsu)
print("(6)"+result)

#(7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.
result = str(set(jumsu))
print("(7)"+result)

(1)80
(2)[100, 90, 100, 80, 70]
(3)[80, 70, 100, 80]
(4)[90, 80, 100, 90, 85]
(5)[100, 100, 70, 80, 95]
(6)[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]
(7){100, 70, 80, 20, 85, 90}

In [132]:
# 문제 8 ~ 9
fruits = ["복숭아", "수박", "딸기"]

#(8) fruits 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.
fruits.append("사과")
fruits.append("귤")
result = str(fruits)

# 한번에 여러개 넣으려면
# fruits.extend(['사과', '귤'])
print("(8)"+result)

#(9) fruits 리스트에서 "복숭아"를 제거하세요.
fruits.remove("복숭아")
result = str(fruits)
print("(9)"+result)

(8)['복숭아', '수박', '딸기', '사과', '귤']
(9)['수박', '딸기', '사과', '귤']

In [154]:
#문제 10 ~ 15
#(10)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성. 
# 취미는 2개 이상의 값을 넣는다..
d1 = dict(이름="최윤지", 나이=25, email="qwerty@gmail.com", 취미=["영화", "음악"], 결혼유무="X")
result = str(d1)
print("(10)"+result)

#(11) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.
result = str(d1.get('이름'))
result = result + str(d1.get('email'))
print("(11)"+result)

#(12) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.
hobby = d1.get('취미')
result = hobby[1]
print("(12)"+result)

#(13) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.
d1['몸무게'] = 50
d1['키'] = 160
result = str(d1)
print("(13)"+result)

#(14) 위 딕셔너리에서 나이를 제거하세요.
del d1['나이']
result = str(d1)
print("(14)"+result)

#(15) 위 딕셔너리에서 email 주소를 다른 값으로 변경하세요.
d1['email'] = "abcd@gmail.com"
result = str(d1)
print("(15)"+result)

(10){'이름': '최윤지', '나이': 25, 'email': 'qwerty@gmail.com', '취미': ['영화', '음악'], '결혼유무': 'X'}
(11)최윤지qwerty@gmail.com
(12)음악
(13){'이름': '최윤지', '나이': 25, 'email': 'qwerty@gmail.com', '취미': ['영화', '음악'], '결혼유무': 'X', '몸무게': 50, '키': 160}
(14){'이름': '최윤지', 'email': 'qwerty@gmail.com', '취미': ['영화', '음악'], '결혼유무': 'X', '몸무게': 50, '키': 160}
(15){'이름': '최윤지', 'email': 'abcd@gmail.com', '취미': ['영화', '음악'], '결혼유무': 'X', '몸무게': 50, '키': 160}