# 제어문
* code의 흐름을 제어하는 구문

## 조건문 (분기문)

In [1]:
# if문 : 특정 구문들을 실행 할지 말지

# 입력값이 0이면 "0 입니다."라고 출력
num = int(input("정수: "))

if num == 0 :
    print("0 입니다.")
    print('zero')
print('종료')

정수: 0
0 입니다.
zero
종료

In [2]:
# if else문 : 조건이 True일 때 할 일과 False일 때 할 일 두가지로 분기

# 입력 받은 값이 0이면 "0입니다.", 0이 아니면 '0이 아닙니다.' 출력
num = int(input("숫자를 입력하세요: "))

if num == 0:
    print("0 입니다.")
else:
    print("0이 아닙니다.")
    print(f"입력한 숫자는 {num}입니다.")

print("종료")

숫자를 입력하세요: 0
0 입니다.
종료

In [3]:
# if elif문 : 조건이 여러개일 경우 사용

# input이 0 이면 '0입니다.', 양수이면 '양수', 음수이면 '음수' 출력
num = int(input("정수를 입력하세요: "))

if num == 0 :
    print("0 입니다.")
elif num > 0 :
    print('양수입니다.')
    print(f"입력한 숫자는 {num}입니다.")
elif num < 0 :
    print("음수입니다.")
    print(f"입력한 숫자는 {num}입니다.")
else : 
    print('정수가 아닙니다.')
          
print("종료")

정수를 입력하세요: 7
양수입니다.
입력한 숫자는 7입니다.
종료

In [4]:
# num이 0 이상이면 "양수입니다." 100 초과이면 "100이상입니다." 출력
num = 1000

if num >= 0 :
    print('양수입니다.')
    if num >= 100 :
        print('100이상입니다.')

양수입니다.
100이상입니다.

# 반복문

## while문
* 조건이 True인 동안 구문을 반복

In [5]:
limit = int(input("반복 횟수: "))   # 반복할 횟수
cnt = 0   # 현재 몇번째 반복인지를 저장할 변수

while cnt < limit :   # 현재 반복횟수가 limit보다 적을때 까지 반복
    cnt += 1
    print(f"{cnt}. 안녕하세요")

반복 횟수: 3
1. 안녕하세요
2. 안녕하세요
3. 안녕하세요

## for in문
* iterable(자료구조들, 문자열 등)이 갖고있는 값들을 순환 조회 할 때 사용

In [6]:
# for 변수 in Iterable :
#    반복문1


# List

l1 = [1, 2, 3, 4, 5]

for num in l1 :
    print(num)    # iterable의 원소를 하나씩 처리
    print("--")

1
--
2
--
3
--
4
--
5
--

In [7]:
# Tuple

for v in (10, 20, 30, 40) :
    print(v, end=", ")
print("종료")

10, 20, 30, 40, 종료

In [8]:
# Set

for v in {1, 2, 2, 2, 3, 4, 1, 2, 3, 4} :    # -> { 1, 2, 3, 4}
    print(v, end="\t")

1	2	3	4

In [9]:
# Dict

for v in dict(name='coz', age=20, address='Seoul') :
    print(v)

name
age
address

In [68]:
# Dict - value

d = dict(name='coz', age=20, address='Seoul')
for v in d.values() :
    print(v)

coz
20
Seoul

In [10]:
# 문자열

for v in ("안녕하세요. abcde~") :
    print(v)

안
녕
하
세
요
.

a
b
c
d
e
~

In [11]:
list("abcdefg")

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [12]:
tuple("abcdefg")

('a', 'b', 'c', 'd', 'e', 'f', 'g')

In [13]:
set("abcdefg")

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [14]:
# l1 = [1, 2, 3, 4, 5]

for v in l1 :
    if v%2 != 0:    # 2의 배수가 아니면
        continue    # 나머지 반복구문 실행하지 않고 다음 반복 실행
    print(v)

2
4

In [15]:
for v in l1:
    print(v)
    if v >= 3 :    # break할 조건
        break    # 더이상 반복하지 않고 반복문을 빠져나옴
print('end')

1
2
3
end

In [16]:
# 사용자로부터 input값을 받아서 출력. 'q!'를 입력받으면 종료.

while True :     # 무한 반복
    s = input("글자를 입력하세요: ")
    print('입력한 문자열: ', s)
    
    if s == 'q!' :
        break    # 종료

글자를 입력하세요: s
입력한 문자열:  s
글자를 입력하세요: a
입력한 문자열:  a
글자를 입력하세요: q!
입력한 문자열:  q!

## for in문 관련 함수
- range()
    - 특정 값만큼 증감하는 연속된 숫자를 제공하는 iterable을 생성

In [17]:
# nums = [1, 2, 3, 4, 5, 6, . . ., 100]
# range(시작숫자, 끝숫자, 증감치)

range(10, 100, 10)    # 10 ~ 100-1 까지 10씩 증가하는 연속된 값을 제공

range(10, 100, 10)

In [18]:
for i in range(10, 50, 10) :
    print(i)    # 생성된 값이 필요할 때만 그때 그때 프린트한다. 자동 출력 x

10
20
30
40

In [19]:
l3 = list(range(10, 100, 10))
l3

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [28]:
tuple(range(10, 100, 10)), set(range(10, 100, 10))

((10, 20, 30, 40, 50, 60, 70, 80, 90), {10, 20, 30, 40, 50, 60, 70, 80, 90})

In [30]:
# 시작값이 종료보다 크고 증감치가 음수이면 내림차순으로 제공
list(range(100, 10, -5))

[100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15]

In [22]:
# 종료값은 생략 불가능

list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [20]:
# 증감치를 생략

list(range(1, 10))    # 1~9 1씩 증가

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
# 시작값 생략 (증감치도 같이 생략해야함) - 0부터 시작

list(range(10))    # 0~9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## range()는 전닯값에 따라
* 1개 : 종료값
* 2개 : 시작값, 종료값
* 3개 : 시작값, 종료값, 증감치

In [29]:
#range() : 특정 구문을 n번 반복하려고 할 때 for in문과 함께 사용 가능

for _ in range(5) :    #변수명을 '-'로 선언하면 이 변수는 사용하진 않을거지만 자리만 채운다는 의미로 사용한다.
    print("ABC")

ABC
ABC
ABC
ABC
ABC

* enumerate(자료구조)
    - 튜플로 (몇번째 반복인지, 값) 묶어서 반환

In [32]:
lst = [10, 5, 7, 8, 10, 2]

for i in enumerate(lst):
    print(i)

(0, 10)
(1, 5)
(2, 7)
(3, 8)
(4, 10)
(5, 2)

In [33]:
for i in enumerate(lst, start=1):
    print(i)

(1, 10)
(2, 5)
(3, 7)
(4, 8)
(5, 10)
(6, 2)

In [34]:
#enumerate() 반환값을 tuple 대입을 이용해 받는다.

for idx, value in enumerate(lst, start=1):
    print(f"{idx}. {value}")

1. 10
2. 5
3. 7
4. 8
5. 10
6. 2

* zip(자료구조1, 자료구조2, ...)

In [39]:
# 각 변수마다 같은 idx의 값들이 한 사람의 정보. idx[1]인 애들끼리 병렬로 모여서 한 사람
names = ['홍길동', '최윤지', '이순신']
ages = [30, 40, 50]
address = ['서울', '인천', '수원']

In [40]:
for v in zip(names, ages, address):
    print(v)

('홍길동', 30, '서울')
('최윤지', 40, '인천')
('이순신', 50, '수원')

In [42]:
# 튜플 대입 처리

for name, age, addr in zip(names, ages, address):
    print(name, age, addr)

홍길동 30 서울
최윤지 40 인천
이순신 50 수원

In [43]:
emails = ['h@a.com', 'i@a.com', 'j@a.com', 'k@a.com']

# 자료구조들의 원소 개수가 다를 경우에는 적은 것에 맞춘다.
for name, age, addr, email in zip(names, ages, address, emails):
    print(name, age, addr, email)

홍길동 30 서울 h@a.com
최윤지 40 인천 i@a.com
이순신 50 수원 j@a.com

# 컴프리헨션

In [46]:
l1 = [1, 2, 3, 4, 5]

# l1의 원소들을 5배한 값들로 구성된 리스트를 생성

# 기존 방법
new_l1 = []    # 빈 리스트 생성
for i in l1:
    new_l1.append(i*5)
print(new_l1)

[5, 10, 15, 20, 25]

In [55]:
new_list2 = [i*5 for i in l1]    # list 컴프리헨션
new_list2

[5, 10, 15, 20, 25]

In [56]:
new_set = {i*5 for i in l1}    # set 컴프리헨션. set의 중복 제거 특성도 갖고있다.
new_set

{5, 10, 15, 20, 25}

In [59]:
# 맨 앞에 key:value 형태를 지정해줌으로써 dict 컴프리헨션이 됨.

new_dict = {key:value*5 for key, value in enumerate(l1, start=100)}
new_dict

{100: 5, 101: 10, 102: 15, 103: 20, 104: 25}

In [60]:
new_dict = {'key'+str(value):value for value in l1}
new_dict

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4, 'key5': 5}

In [63]:
# s의 값을 대문자로 변환한 값들을 원소로 갖는 자료구조

s = ['a', 'b', 'c', 'abc']

s2 = []
for v in s:
    s2.append(v.upper())
s2, s

(['A', 'B', 'C', 'ABC'], ['a', 'b', 'c', 'abc'])

In [65]:
# list comprehension
s3 = [v.upper() for v in s]
s3

['A', 'B', 'C', 'ABC']

In [66]:
# set comprehension

s4 = {v.upper() for v in s}
s4

{'A', 'ABC', 'B', 'C'}

In [67]:
# dict comprehension

s5 = {v:v.upper() for v in s}
s5

{'a': 'A', 'b': 'B', 'c': 'C', 'abc': 'ABC'}

In [70]:
s = ['a', 'b', 'c', 'abc', 'def', 'ak', 'r']

# s의 원소 중 글자수가 1글자인 원소만 대문자로 바꾼 값들을 갖는 배열

# 기존 방식
s2 = []
for v in s:
    if len(v) == 1:
        s2.append(v.upper())
        
s2

['A', 'B', 'C', 'R']

In [71]:
# s = ['a', 'b', 'c', 'abc', 'def', 'ak', 'r']

# filtering

s3 = [v.upper() for v in s if len(v)==1]
s3

['A', 'B', 'C', 'R']

In [73]:
s4 = [v.upper() for v in s]
s4

['A', 'B', 'C', 'ABC', 'DEF', 'AK', 'R']

In [74]:
# filter + mapping

s5 = {v.upper() for v in s if len(v)==1}
s5

{'A', 'B', 'C', 'R'}

In [ ]:
# filter와 map에 대해 아예 함수를 제공해주기도 함

print(list(filter(lambda x :len(x)==1, s)))
print(list(map(lambda x :x.upper(), s)))

# TODO

In [27]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   :  F학점

score = int(input("1~100 사이의 점수를 입력하세요: "))

while score<0 or score > 100:
    score = int(input("1~100 사이의 점수를 입력하세요: "))

if 90 < score and 100 >= score :
    print("A학점")
elif 80 < score and 90 >= score :
    print("B학점")
elif 70 < score and 80 >= score :
    print("C학점")
elif 60 < score  and 70 >= score :
    print("D학점")
else :
    print("F학점")

1~100 사이의 점수를 입력하세요: 81
B학점

In [30]:
#(2) 사용자로 부터 ID를 입력 받은 뒤 입력받은 ID가 5글자 이상이면 "사용할 수 있습니다."를 5글자 미만이면 "사용할 수 없는 ID입니다."를 출력하세요.

id = input("ID를 입력하세요: ")

if len(id) >= 5 :
    print(f"{id}는(은) 사용할 수 있는 ID입니다.")
else :
    print(f"{id}는(은) 사용할 수 없는 ID입니다.")

ID를 입력하세요: zxcvb
zxcvb는(은) 사용할 수 있는 ID입니다.

In [34]:
#(3) 사용자로부터 우리나라 도시명을 입력 받은 뒤 입력받은 도시명이 서울이면 "특별시"를 인천,부산,광주,대구,대전,울산 이면 "광역시"를 나머지는 "특별시나 광역시가 아닙니다."를 출력하세요.

city = input("도시명을 입력하세요: ")

if city == "서울" :
    print(f"{city}특별시")
elif city == "인천" or city == "부산" or city == "광주" or city == "대구" or city == "대전" or city == "울산":
    print(f"{city}광역시")
else :
    prin(f"{city}는(은) 특별시나 광역시가 아닙니다.")

도시명을 입력하세요: 서울
서울특별시

In [43]:
#(4) 아래 리스트의 평균을 구하시오. 
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
sum = 0

for i in jumsu:
    sum += i    # sum(jumsu) => sum(iterable) => iterable의 원소들의 합계를 반환
    avr = sum/len(jumsu)

print(f"평균: {avr}")

평균: 89.0

### teach code

In [45]:
#(5) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)

for idx, i in enumerate(jumsu) :
    if i >= avr :
        print(f'{idx}. 점수 : {i} => pass')
    else :
        print(f'{idx}. 점수 : {i} => fail')

0. 점수 : 100 => pass
1. 점수 : 90 => pass
2. 점수 : 100 => pass
3. 점수 : 80 => fail
4. 점수 : 70 => fail
5. 점수 : 100 => pass
6. 점수 : 80 => fail
7. 점수 : 90 => pass
8. 점수 : 95 => pass
9. 점수 : 85 => fail

In [46]:
#(6) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]

max_value = 0

# 리스트의 원소와 max_value를 비교해서 원소가 더 크면 max_value값을 변경
for value in jumsu :
    if value > max_value:    # max(jumsu), min(jumsu) => iterable의 최댓값과 최솟값을 반환하는 함수
        max_value = value

print("최대값: ", max_value)

최대값:  95

In [47]:
#(8) 다음 리스트 중에서 "쥐"와 "토끼" 제외한 나머지를 출력하세요.
str_list = ["쥐", "소", "호랑이", "토끼", "용", "뱀"]

# 방법1
# for a in str_list :
#     if a not in ['쥐', '토끼']
#     print(a)

# 방법 2
for a in str_list:
    if a in ['쥐', '토끼']:
        continue
    print(a)

소
호랑이
용
뱀

In [48]:
#(9) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오. 
# ex) 단을 입력하시오 : 2  
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18

dan = int(input("단을 입력하세요: "))
for i in range(1, 10):
    print(f"{dan} X {i} = {dan*i}")

단을 입력하세요: 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

In [49]:
#컴프리헨션
#(10) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]

[i*2 for i in lst]

[20, 60, 140, 10, 240, 1400, 2, 70]

In [50]:
#(11) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플 묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]

[(i, i*10) for i in lst]

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

In [52]:
#(12) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]

[i for i in lst2 if i%3==0]

[3, 33, 21, 33, 60, 120]

In [53]:
#(13) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

[file for file in file_name if file.endswith(".exe")]

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [55]:
#(14) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

# [file for file in file_name if len(file) >= 10]
[(file, len(file)) for file in file_name if len(file) >= 10]

[('mystroy.txt', 11), ('jupyter.bat', 11), ('function.exe', 12)]

In [62]:
#(15) 다음 리스트에서 소문자만 가지는 새로운 리스트를 만드시오.
str_list = ["A", "B", "c", "D", "E", "F", "g", "h", "I", "J", "k"]

# 대소문자로 변경
print([s.lower() for s in str_list if s.islower()])  # islower() -> 소문자인지 비교해주는 함수
print([s.upper() for s in str_list if s.isupper()])  # isupper() -> 대문자인지 비교해주는 함수

['c', 'g', 'h', 'k']
['A', 'B', 'D', 'E', 'F', 'I', 'J']

In [57]:
"A".islower(), 'a'.islower()

(False, True)

In [60]:
"A".isupper(), 'a'.isupper()

(True, False)