In [1]:
s = input()    # input 함수 호출(call)
print(s)       # print 함수 호출

ㅎㅇ
ㅎㅇ

In [2]:
i = int('100')    # '100' : argument(인수)=피연산자
print(i)    # i의 100 => int()함수의 반환
j = print('test')

100
test

In [3]:
print(j)

None

# 함수(Funtion)
- 사용자 정의 연산자
- 구문
```python
# [] 옵션, .... 여러개
def 함수명([arg1, arg2,...]) :
    실행문1
      ・
      ・
    [return value]
````
- 함수 이름
    - 규칙 : 변수와 동일
    - 관례 : 변수와 동일 - snake 표기법

In [4]:
# 함수 정의

# 정의된 함수를 사용하기 위해서는 메모리에 로딩해야한다. -> 실행, import
def say_hello() :
    print('say')
    print('hello')

In [5]:
say_hello()    # 실행

say
hello

In [6]:
# 매개변수(parameter)가 있는 함수

def say_hello2(name) :    # name(매개변수, parameter) : 호출한 곳으로부터 arg를 받을 변수
 :     greeting = f'{name}님 반갑습니다.'
    print(greeting)

In [10]:
say_hello2("최윤지")    # 매개변수가 있는 함수 호출 시 반드시 값을 전달해줘야 한다.

최윤지님 반갑습니다.

In [12]:
# 재사용

say_hello2("아아")
say_hello2("아바라")

아아님 반갑습니다.
아바라님 반갑습니다.

In [17]:
# return값이 있는 함수

def say_hello2(name, age):
    greeting = f'{age}세인 {name}님 환영합니다.\n'
    return greeting    # 함수를 호출한 곳에 greeting결과 값을 반환

In [18]:
# 받은 return값을 변수에 대입하여 자유롭게 활용

g1 = say_hello2('최윤지', 20)
g2 = say_hello2('지윤초', 30)
print(g1+g2)

20세인 최윤지님 환영합니다.
30세인 지윤초님 환영합니다.

In [38]:
# param과 달리 리턴값은 1개만 가능. (처리결과가 여러개인 경우 자료구조로 묶어서 전달)

# 두개의 값을 받아서 사칙연산 한 결과를 반환하는 함수
def calc(num1, num2):
    a = num1+num2
    b = num1-num2
    c = num1*num2
    d = None
    if num2 != 0 :
        d = num1/num2
    
#     return [a, b, c, d]    # list 형식
#     return a, b, c, d        # tuple 형식
    return{'plus':a, 'minus':b, 'multyply':c, 'divide':d}    # dict 형식

In [39]:
result = calc(10, 5)
print(result)

print("덧셈결과: ", result['plus'])

{'plus': 15, 'minus': 5, 'multyply': 50, 'divide': 2.0}
덧셈결과:  15

In [40]:
# list형으로 받은 return값을 각각의 변수에 저장하고 싶을 땐 이렇게 해주면 됨

r1, r2, r3, r4 = calc(20, 10)
print(r1, r2, r3, r4)

plus minus multyply divide

In [43]:
# Local Variable(지역 변수)함수 내에서 선언된 변수 => 선언한 함수 내에서 해당 함수가 실행되는 동안만 사용된다.

calc(10, 5)
print(a, b, c, d)    # a, b, c, d => calc()내의 지역변수

NameError: name 'a' is not defined

## 매개변수와 관련된 문법

### Positional Parameter(Argument)
* 일반적인 param, arg
* param, arg 선언된 순서대로 값을 전달한다.

In [ ]:
def print_info(name, age, address):
    print(f"이름: {name}, 나이: {age}, 주소: {address}")

In [45]:
print_info("최윤지", 25, "서울")    # 순서에 맞춰 값들을 전달

이름: 최윤지, 나이: 25, 주소: 서울

In [46]:
print_info("서울", "최윤지", 25)    # 순서 섞어서 값 전달

이름: 서울, 나이: 최윤지, 주소: 25

In [49]:
print_info("최윤지")    # arg와 param의 갯수를 동일시하게 전달해야한다.

TypeError: print_info() missing 2 required positional arguments: 'age' and 'address'

### 기본값이 있는 매개변수
* 매개변수에 값을 대입. default값 설정
    * 호출 시 값이 없으면 기본값을 사용

In [169]:
def print_info2(name=None, age=-1, address=None):
    print(f"이름: {name}, 나이: {age}, 주소: {address}")

In [170]:
print_info2("coz", 25)

이름: coz, 나이: 25, 주소: None

In [56]:
# name, age, address 전부 default값
print_info2()

이름: None, 나이: -1, 주소: None

In [57]:
# name, age(첫번째, 두번째)는 전달, address는 default값

print("최윤지", 30)

최윤지 30

In [60]:
# name(첫번째)만 전달. age, address는 default값(두번째 매개변수 부터)

print_info2("코즈")

이름: 코즈, 나이: -1, 주소: None

In [171]:
# positional argument의 개념상 앞에있는 인자에 먼저 전달하기 때문에 뒷쪽의 매개변수에만 값을 전달할 수는 없다.

print_info2('부산')

이름: 부산, 나이: -1, 주소: None

In [172]:
# None과 음수도 arg로 선언 가능

print_info2(None, -1, '부산')

이름: None, 나이: -1, 주소: 부산

In [63]:
# 그러나 keyword argument 방식을 사용하면 뒷쪽의 매개변수에도 값을 전달할 수 있음
# keyword argument => 매개변수를 지정해서 값을 전달하는 방식
print_info2(address='인천')    # address(세번째)만 전달. name, age(첫, 두 번째)는 default값.


# keyword argument를 사용하면 순서 상관 없이 대입 가능
print_info2(address="대구", name="지윤초", age=50)

이름: None, 나이: -1, 주소: 인천
이름: 지윤초, 나이: 50, 주소: 대구

In [64]:
# 기본값이 없는 매개변수들을 먼저 선언하고 이어서 기본값 있는 매개변수들을 선언
def print_info3(name, age, address=None, email=None):#, hobby):
    print(f"이름: {name}, 나이: {age}, 주소: {address}, 이메일: {email}")

# 기본값 없는 것과 있는 매개변수들이 섞여있는 경우
# 기본값 없는 매개변수에는 값을 반드시 전달해야한다.
# 기본갑 없는 매개변수: 필수 입력 사항
# 기본값 있는 매개변수: 옵션 입력 사항

print_info3("최윤지", 20)    # positioning argument 방식
print_info3(age=30, name="지윤초")    # kwyeord argument 방식

이름: 최윤지, 나이: 20, 주소: None, 이메일: None
이름: 지윤초, 나이: 30, 주소: None, 이메일: None

### 가변인자

In [70]:
#n개의 정수를 받고 합계를 return하는 함수
  
# 기존 방식
def sum_function (num_list):     # argument: 자료구조(ex. list)
    sum_value = 0
    for v in num_list :
        sum_value += v
    return sum_value

In [72]:
result = sum_function([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
result

55

In [73]:
r = sum_function([10, 20, 30])
r

60

In [87]:
# 정수 n개의 값을 받아서 처리할 경우 사용
# *변수명 : 튜플로 처리. 호출할 때는 전달할 값들(arg)을 나열해서 전달한다.

def sum_function2(*num_list):    # 튜플 대입 가변인자
    print(type(num_list), num_list)
    sum_value = 0
    for v in num_list :
        sum_value += v
    return sum_value

In [88]:
r1 = sum_function2(1, 2, 3, 4, 5)    # tuple로 넘겨주면
print(r1)    # tuple로 들어감

<class 'tuple'> (1, 2, 3, 4, 5)
15

In [89]:
sum_function2(1, 2, 3, 4, 5)
print(r1)

<class 'tuple'> (1, 2, 3, 4, 5)
15

In [90]:
sum_function2()

<class 'tuple'> ()

0

In [91]:
sum_function2(1, 2, 3)

<class 'tuple'> (1, 2, 3)

6

In [92]:
sum_function2(1, 2, 3, 4, 5, 6, 109, 209, 309)

<class 'tuple'> (1, 2, 3, 4, 5, 6, 109, 209, 309)

648

In [93]:
# 가변인자 : **변수명. dict로 처리. 호출할 때는 keyword argument 형식으로 전달.

def print_info(**info):
    print(type(info), info)
    return_value =''           # 몇 개가 올지 모르기 때문에 반복문을 통해 값을 
    for key, value in info.items():
        return_value = f"{return_value}, {key}:{value}"
    return return_value

In [94]:
print_info()

<class 'dict'> {}

''

In [97]:
v1 = print_info(이름='최윤지')
v2 = print_info(나이=20, 주소='서울')
# key='value' 형태로 전송하면 python실행환경이 알아서 key:value모양의 dict형식으로 바꿔줌

print(v1)
print(v2)

<class 'dict'> {'이름': '최윤지'}
<class 'dict'> {'나이': 20, '주소': '서울'}
, 이름:최윤지
, 나이:20, 주소:서울

In [98]:
print(print_info(이름='최윤지', 주소='서울', 이메일='a@a.com', 취미='독서'))

<class 'dict'> {'이름': '최윤지', '주소': '서울', '이메일': 'a@a.com', '취미': '독서'}
, 이름:최윤지, 주소:서울, 이메일:a@a.com, 취미:독서

In [103]:
def test_fn(*a, *b, *c):    # 가변인자는 한 함수당 종류별(*, **)로 하나씩만 선언할 수 있음.
    pass

SyntaxError: invalid syntax (<ipython-input-103-1b58f32eaf5e>, line 1)

In [104]:
def test_fn2(*args, **kwargs):
    pass

In [105]:
def test_fn3(var1, var2, *args, **kwargs):    #일반 변수와 같이 선언 할 경우 가변인자는 맨 끝에 위치해야함
    pass

# 함수는 일급시민객체

- 함수를 변수에 할당하는 것
- 함수를 (다른)함수 호출할 때 argument로 전달할 수 있는 것
- 함수의 return값으로 함수를 반환할 수 있는 것
- ! 함수도 값으로 처리될 수 있다. !

In [108]:
# 함수 정의

def my_fn(name=None):
    print(str(name)+"님 안냐세요")   # print()는 str만 올 수 있기 때문에 None타입 str()처리 해줌

In [111]:
# r1, r2에는 my_fn()의 return값이 저장

r1 = my_fn('최윤지')
r2 = my_fn()

최윤지님 안냐세요
None님 안냐세요

In [113]:
# 함수 자체를 your_fn에 저장

your_fn = my_fn
your_fn('지윤초')

지윤초님 안냐세요

In [114]:
test_fn = your_fn
test_fn()

None님 안냐세요

In [175]:
def calculator(func):
    num1, num2 = 10, 20
    result = func(num1, num2)
    print("calc() 결과: ", result)

In [143]:
def plus(n1, n2):
    return n1+n2

def minus(n1, n2):
    return n1-n2

def multi(n1, n2):
    return n1*n2

In [144]:
calculator(plus)
calculator(minus)
calculator(multi)

calc() 결과:  30
calc() 결과:  -10
calc() 결과:  200

In [176]:
# 처리할 식이 있으나 처리할 값(지역변수)가 없으니 매개변수로 받는 것
def calc(num1, num2):
    a = num1 + num2
    b = num1 - num2
    c = num1 * num2
    print(a, b, c)

In [177]:
calc(10, 20)

30 -10 200

## lambda 표현식
- 함수를 단일 구문으로 작성하는 방법

In [145]:
def plus(n1, n2):
    return n1+n2

In [146]:
# lambda [매개변수] : return값으로 처리될 결과(알아서 계산해서 return 해줌)

# 두개의 값을 받아서 합한 값을 반환하는 함수
x = lambda n1, n2 : n1+n2
x(1, 2)

3

In [148]:
# 하나의 값을 받아서 제곱한 값을 반환하는 함수
y = lambda v : v**2

# y 자체가 하나의 함수가 된 상태
y(10)

100

In [149]:
calculator(lambda n1, n2 : n1+n2)

calc() 결과:  30

In [150]:
calculator(lambda n1, n2 : n1/n2)

calc() 결과:  0.5

In [152]:
def fn(num):
    print(num)

In [178]:
# mapping

# 각 원소에 * 10 후 반환
l = [10, 20, 30]

# 방법 1
def m10(x):
    return x*10

list(map(m10, l))    # -> 구문: map(계산식, Iterable)

[100, 200, 300]

In [179]:
# 방법 2
list(map(lambda x:x*10, l))   # 매개변수는 0개 이상 가능

[100, 200, 300]

## docstring
- 함수(or class, method) 구현시 함수에 대한 설명을 문자열로 정의하는 것
- 선언부와 구현부 사이에 여러줄 문자열(''' ''')을 이용해서 작성
- 주로 아래것들을 작성함
   - 함수에 대한 설명
   - 매개변수에 대한 설명
   - return값에 대한 설명
   - 발생 Exception(Error)에 대한 설명

In [3]:
def print_info(name, age):
    """
    회원 정보를 출력하는 함수
    회원의 이름과 나이를 받아서 출력하고 어쩌고 설명
    
    [Parameter]
        name: string - 회원의 이름
        age: int - 회원의 나이
    [return value]
        int - 나이의 10배 값
    [Exception]
        발생할 가능성이 있는 에러에 대한 설명
    """
    printf(f'이름:{name}, 나이: {age}')
    return age*10

In [2]:
# 주피터 노트에서 docstring을 조회하는 명령어/단축키
# 명령어 - 함수명?
# 단축키 - 함수명을 작성한 상태에서 Shift + Tab (팝업으로 뜸)

print_info